body {
    font-family: sans-serif;
    margin: auto;
    width: 90%;
}

.container {
    text-align: center;
    
}

header {
    text-align: center;
    padding: 10px;
    align-items: center; 
}

img {
    margin: 5px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border:1px solid #fff;
    justify-content: space-between;
    box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
}

a {
    color: rgb(0, 174, 255);
    text-decoration: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.719);
    font-family: sans-serif;
    padding: 10px;
    color: #ccc;
    text-align: center;
    text-shadow: 2px 2px black;
    border-radius: 3px;
    margin: 20px;
}

h3 {
    color: rgba(0, 0, 0, 0.863);
}
